<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Game43">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".GameBasketball.Basketball"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".GameBall.Ball"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".TapeItUp.TapeItUp"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".SeaCatcher.SeaCatcher"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".BallBlast.BallBlast"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".SupertBallFall.SuperBallFall"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".TinyFishing.TinyFishing"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".FlipperDrunk.FlipperDrunk"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".Peglinko.Peglinko"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".RocketLaunch.RocketLaunch"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".DunkALot"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
    </application>

</manifest>
